div.icl#profile-arrow-up
div.icl#profile-arrow-down
ul.chatLine.inDialogs
  each dialog in dialogs.models
    if dialog.get('user')
      li(data-user='#{dialog.get('user').id}',
        class=iduser == dialog.get('user').id?"opened":dialog.get('unread')>0?"active":"")
        img(src='#{dialog.get('user').avatar_url}')
        span
            if dialog.get('unread')>0
              div.unread_count
                b #{dialog.get('unread')} 
            else
              div.unread_count(style="display:none")
                b 0
            |  #{dialog.get('user').name}
  //
    li
      img(src='/static/img/dialog/userpic.png')
      span