

.profileContainer.clearfix
  include myleftbox
  .guests#dialogs_list
    .rightBox
      .title Диалоги
        //- .title-help-text
        //-   small диалоги
      .people
        ul.chatLine
          //- for dialog in dialogs
          //-   li
          //-     a(href="/user/#{dialog.user.id}", data-user-id="#{dialog.user.id}")
          //-       img(src=dialog.user.avatar_url)
          //-     .info
          //-       .right
          //-         //- .last-date Заходил(а) 
          //-         //-   b #{user.timeDay} #{user.timeMonth}
          //-         //- .last-time в 
          //-         //-   b #{user.timeTime}
          //-         br
          //-         //- ul.action-list
          //-         //-   li 
          //-         //-     a.fui-bubble.write
          //-         //-       span.act-description  написать
          //-         //-   li
          //-         //-     if(is_fav)
          //-         //-       a.fui-star-2.active-action
          //-         //-     else
          //-         //-       a.fui-star-2.add_to_fav
          //-         //-   li
          //-         //-     a.fui-radio-checked.to_journey
          //-         .controlLinks.clearfix
          //-           div(class="note write") написать
          //-       .left
          //-         .name #{dialog.user.name}
          //-         .city #{dialog.user.age}, #{dialog.user.country}
          //-         if(dialog.user.is_sponsor)
          //-           div.money-icon.mg-icon
          //-             .tooltip.clearfix
          //-               .tooltip-arrow
          //-               span Спонсортство
          //-         if(dialog.user.is_host)
          //-           div.house-icon.hg-icon
          //-             .tooltip.clearfix
          //-               .tooltip-arrow
          //-               span Жду&nbsp;в&nbsp;гости