a(href="/user/#{user.id}", data-user-id="#{user.id}")
  img(src=user.avatar_url)
.info
  .right
    .last-date Был(а) на сайте 
      b  #{user.last_actionDay} #{user.last_actionMonth}
    .last-time в 
      b  #{user.last_actionTime}
    br
    //- .last-date
    //-   a(id="remove-from-fav", class="remove_from_fav custom-link") удалить из избранных
    //- br
    //- ul.action-list
    //-   li 
    //-     a.fui-bubble.write
    //-       span.act-description написать
    //-   li
    //-     a.fui-radio-checked.to_journey
    //- .status=status.get('text')
    //- .writeBtn.write.fui-bubble
    .controlLinks.clearfix
      div(class="note write") написать
      if(is_fav)
        div(class="like remove_from_fav", id="remove-from-fav",data-remove-from-fav-clear="true") убрать из избранных
      else
        div(class="like add_to_fav") в избранные
      
      //- div(class="note to_journey",) пригласить
      //- .note пожаловаться
      //- .share поделиться

  //- .rightPart
  //-     .status=status.get('text')
  //-     .writeBtn
  //-     .controlLinks.clearfix
  //-       .like нравится
  //-       .note пожаловаться
  //-       .share поделиться
  .left
    .name #{user.name}
    .city #{user.age}, #{user.country}
    span
      if(user.is_sponsor)
        img(src='/static/img/money_active2.png') 
      if(user.is_host)
        img(src='/static/img/house_active2.png') 
