//- -var name = 'Валентиин Петрович'
//- -var year = '23'
//- -var city = 'Москва'
//- -var date = '25.11.14'
//- -var time = '21:40'

.profileContainer.clearfix
  include leftbox
  .guests
    .rightBox
      .title ИЗБРАННЫЕ
        .title-help-text
          small
            | Вас добавили в избранные 
            a(class="blue-link",style="text-transform:uppercase;font-size:20px;text-decoration:none;") 20
            |  человек. Хотите 
            a(class="custom-link")  узнать кто это?
      .people
        ul.chatLine
          //- for guest in favs
          //-   li
          //-     a(href="/user/#{guest.id}", data-user-id="#{guest.id}")
          //-       img(src=guest.avatar_url)
          //-     .info
          //-       .right
          //-         .last-date
          //-           a(id="remove-from-fav") удалить
          //-         br
          //-         ul.action-list
          //-           li 
          //-             a.fui-bubble 
          //-               span.act-description написать
          //-           li
          //-             a.fui-radio-checked
          //-       .left
          //-         .name #{guest.name}
          //-         .city #{guest.age}, #{guest.country}
          //-         span
          //-           if(guest.is_sponsor)
          //-             img(src='/static/img/money3.png') 
          //-           if(guest.is_host)
          //-             img(src='/static/img/house3.png') 
