//- -var name = 'Валентиин Петрович'
//- -var year = '23'
//- -var city = 'Москва'
//- -var date = '25.11.14'
//- -var time = '21:40'

.profileContainer.clearfix
  include leftbox
  .guests
    .rightBox
      .title ИЗБРАННЫЕ
      .people
        ul.chatLine
          for guest in favs
            li
              a(href="/user/#{guest.id}", data-user-id="#{guest.id}")
                img(src=guest.avatar_url)
              .info
                .right
                  .last-date
                    a(id="remove-from-fav") удалить
                .left
                  .name #{guest.name}, #{guest.age}
                  .city #{guest.country}
                  span
                    if(guest.is_sponsor)
                      img(src='/static/img/money_active.png') 
                    if(guest.is_host)
                      img(src='/static/img/house2_active.png') 
