.profileContainer.clearfix#guest_profile
  include guest_leftbox
  .rightBox
    .profileInfoBox.pIBTitle
      .user-last-action
        if user.online
          .online
        else
          .last-action Был(а) на сайте 
            b  #{user.last_actionDay} #{user.last_actionMonth}
          .last-time в 
            b  #{user.last_actionTime}
      .name-in-profile #{user.name}, #{user.age}
      if (user.is_sponsor)
        div(class = "money-icon mg-icon")
          .tooltip.clearfix
            .tooltip-arrow
            span Спонсортство
      if (user.is_host)
        div(class = "house-icon hg-icon")
          .tooltip.clearfix
            .tooltip-arrow
            span В гости
      .city-in-profile #{user.city}
    if user.status
      .wantToTravelBox.clearfix
        //- .newStatus Новый статус
        .statusBoxCompleted.clearfix
          .statusBox#main-status
            .status #{user.status}
            .comments.clearfix
              span.delete-comments удалить
              span.share-comments.like нравится
          .statusBoxEdit.clearfix
            .greenDots
            input#new-status(placeholder='...', type='text',  maxlength="140")
            .writeBtn#write-new-main-status
    if user.seasons
      .tagBox
        h1 Сезоны
        .seasonsBox.clearfix
          if user.seasons.indexOf("spring")>-1
            div(id = "spring", class = "season seasonChecked")
              span весна  
          if user.seasons.indexOf("summer")>-1
            div(id = "spring", class = "season seasonChecked")
              span лето  
          if user.seasons.indexOf("autumn")>-1
            div(id = "spring", class = "season seasonChecked")
              span осень  
          if user.seasons.indexOf("winter")>-1
            div(id = "spring", class = "season seasonChecked")
              span зима  
    .tagBox
      h1 Мои направления
      .tagsLine#profile-tags
        .mainSelectElement.profileTagPlaces.withShadow
          span.tagCountry Россия
          //- .close
        .mainSelectElement.profileTagPlaces.withShadow
          span.tagCountry Европа
          //- .close
        .mainSelectElement.profileTagPlaces.withShadow
          span.tagCountry Африка
          //- .close
      //- .newTagBox
      //-   .mainSelectElement.newCountry.withShadow
      //-     .dd
      //-     .du
      //-     ul.droped.withShadow
      //-       li.dl Россия
      //-       li.dl Африка
      //-       li.dl Европа
      
    .profileInfoBox      
      h1 о себе
      .greenDots
      p.description#about-in-info #{user.about}
      .infoBox.infoView
        #birtday-in-info.clearfix
          span.lp День рождения:
          span.rp #{user.birthdayDay} #{user.birthdayMonth} 
        //- #zodiac-in-info.clearfix
        //-   span.lp Знак зодиака:
        //-   span.rp лев
        br
        #country-in-info.clearfix
          span.lp  Страна:
          span.rp #{user.country}
        br
        #city-in-info.clearfix
          span.lp Город:
          span.rp #{user.city}
        //- #interests-in-info.clearfix
        //-   span.lp Интересы:
        //-   span.rp Велотуризм, яхтинг, скалолазание, серфинг, виндсерфинг, дайвинг, воздухоплавание, конный спорт, теннис, путешествия, музыка, йога, общение
        //- #music-in-info.clearfix
        //-   span.lp Любимая музыка:
        //-   span.rp Jazz, Rock '70 '80, Trance
        //- #films-in-info.clearfix
        //-   span.lp Любимые фильмы:
        //-   span.rp Боги сошли с ума
        //- #quote-in-info.clearfix
        //-   span.lp Любимые цитаты:
        //-   span.rp 
        //-     p если существует несколько логически непротиворечивых объяснений какого-либо явления, объясняющих его одинаково хорошо, то следует, при прочих равных условиях, считать верным самое простое из них
        //-     p ------
        //-     p бритва Оккама
      .slideDown#profile-slidedown(style='display:none') показать все
      .slideUp#profile-slideup(style='display:none!important') скрыть

    //- .statuses.wantToTravelBox.clearfix        
    //-     .title СТАТУСЫ

    //-     .statusBoxCompleted.clearfix
    //-       .statusBox#main-status
    //-         .status Завтра вылетаю, есть билет на халяву, кто со мной? Время поджимает, давайте поторопитесь. Бла-бла        
    //-         .comments.clearfix
    //-           .right
    //-             span.delete-comments удалить
    //-             span.share-comments поделиться
    //-           .left
    //-             span.count 12
    //-             span#show-all   показать все

    //- .statuses.wantToTravelBox.clearfix        
    //-     .statusBoxCompleted.clearfix
    //-       .statusBox#main-status
    //-         .status Завтра вылетаю, есть билет на халяву, кто со мной? Время поджимает, давайте поторопитесь. Бла-бла        
    //-         .comments.clearfix
    //-           .right
    //-             span.delete-comments удалить
    //-             span.share-comments поделиться
    //-           .left
    //-             span.count 12
    //-             span#show-all   показать все