-var name = 'Валентиин Петрович'
-var year = '23'
-var city = 'Москва'
-var date = '25.11.14'
-var time = '21:40'

.profileContainer.clearfix
  include leftbox
  .guests
    .rightBox
      .title МОИ ГОСТИ
      .people
        ul.chatLine
          for guest in guests
            li
              a(href="/user/#{guest.id}", data-user-id="#{guest.id}")
                img(src=guest.avatar_url)
              .info
                .right
                  .last-date Заходил
                  .last-time в #{guest.time}
                .left
                  .name #{guest.name}, #{guest.age}
                  .city #{guest.country}
                  span
                    if(guest.is_sponsor)
                      img(src='/static/img/money2_g.png') 
                    if(guest.is_host)
                      img(src='/static/img/house2_g.png') 
