a(href="/user/#{user.id}", data-user-id="#{user.id}")
  img(src=user.avatar_url)
.info
  .right
    .last-date Заходил(а) 
      b #{user.timeDay} #{user.timeMonth}
    .last-time в 
      b #{user.timeTime}
    br
    //- ul.action-list
    //-   li 
    //-     a.fui-bubble.write
    //-       span.act-description  написать
    //-   li
    //-     if(is_fav)
    //-       a.fui-star-2.active-action
    //-     else
    //-       a.fui-star-2.add_to_fav
    //-   li
    //-     a.fui-radio-checked.to_journey
    .controlLinks.clearfix
      if(is_fav)
        div(class="like active-action") в избранные
      else
        div(class="like add_to_fav") в избранные
      div(class="note write") написать
  .left
    .name #{user.name}
    .city #{user.age}, #{user.country}
    span
      if(user.is_sponsor)
        img(src='/static/img/money_active2.png')
      if(user.is_host)
        img(src='/static/img/house_active2.png') 