a(href="/user/#{user.id}", data-user-id="#{user.id}")
  img.chat-ava-img(src=user.avatar_url)
.info
  //- .right
  //-   .last-date Заходил #{user.last_actionDay} #{user.last_actionMonth}
  //-   .last-time в #{user.last_actionTime}
  .left
    .name #{user.name}, #{user.age}
    .city #{user.city}
    if(user.is_sponsor)
      div.money-icon.mg-icon
        .tooltip.clearfix
          .tooltip-arrow
          span Спонсортство
    if(user.is_host)
      div.house-icon.hg-icon
        .tooltip.clearfix
          .tooltip-arrow
          span Жду&nbsp;в&nbsp;гости