if photo.url
  div.photo-time #{photo.time.date}
  img(src=photo.url,id=photo.id)
  if (is_my_user)
    .actions
        if(liked_by)
          a(class="action-remove-like custom-link") нравится
        else
          a(class="action-like custom-link") нравится
        span.like-counter-box
          i &nbsp;
          span.like-counter #{photo.likes}
        a(class="custom-blue-link new-ava") на аватарку
        a(class="custom-link remove-photo") удалить
  else
    if(liked_by)
      a(class="action-remove-like custom-link") нравится
    else
      a(class="action-like custom-link") нравится
    span.like-counter  #{photo.likes}
else
  div.photo-time загрузка...
  img(src="/static/img/searchpreloader.GIF", class='loading')