
.popup.popupLikers
  a(href='#', class='closepopup') Закрыть
  .popupHeaderBox.clearfix
  .popupBody.clearfix
    .guests
      .rightBox
        .title ИМ ПОНРАВИЛОСЬ
        .people
          ul.chatLine
            //- li
            //-   img(src='../static/img/crs_item.png')
            //-   .info
            //-     .right
            //-       .last-date Заходил #{date}
            //-       .last-time в #{time}
            //-     .left
            //-       .name #{name}, #{year}
            //-       .city #{city}
            //-       span
            //-        img(src='../static/img/house.png')
            //-        img(src='../static/img/money.png') 
            //- li
            //-   img(src='../static/img/crs_item.png')
            //-   .info
            //-     .right
            //-       .last-date Заходил #{date}
            //-       .last-time в #{time}
            //-     .left
            //-       .name #{name}, #{year}
            //-       .city #{city}
            //-       span
            //-        img(src='../static/img/house.png')
            //-        img(src='../static/img/money.png') 
            //- li
            //-   img(src='../static/img/crs_item.png')
            //-   .info
            //-     .right
            //-       .last-date Заходил #{date}
            //-       .last-time в #{time}
            //-     .left
            //-       .name #{name}, #{year}
            //-       .city #{city}
            //-       span
            //-        img(src='../static/img/house.png')
            //-        img(src='../static/img/money.png') 
            //- li
            //-   img(src='../static/img/crs_item.png')
            //-   .info
            //-     .right
            //-       .last-date Заходил #{date}
            //-       .last-time в #{time}
            //-     .left
            //-       .name #{name}, #{year}
            //-       .city #{city}
            //-       span
            //-        img(src='../static/img/house.png')
            //-        img(src='../static/img/money.png') 
            //- li
            //-   img(src='../static/img/crs_item.png')
            //-   .info
            //-     .right
            //-       .last-date Заходил #{date}
            //-       .last-time в #{time}
            //-     .left
            //-       .name #{name}, #{year}
            //-       .city #{city}
            //-       span
            //-        img(src='../static/img/house.png')
            //-        img(src='../static/img/money.png') 
            //- li
            //-   img(src='../static/img/crs_item.png')
            //-   .info
            //-     .right
            //-       .last-date Заходил #{date}
            //-       .last-time в #{time}
            //-     .left
            //-       .name #{name}, #{year}
            //-       .city #{city}
            //-       span
            //-        img(src='../static/img/house.png')
            //-        img(src='../static/img/money.png') 