.profileContainer.clearfix
  include leftbox
  .rightBox
    .profileInfoBox.pIBTitle#my-profile
      .name-in-profile #{user.name}, #{user.age}
      .money-icon
        .tooltip.clearfix
          .tooltip-arrow
          span Денежка
      .house-icon
        .tooltip.clearfix
          .tooltip-arrow
          span Домик
      .city-in-profile #{user.city}
    .wantToTravelBox.clearfix
      .newStatus Новый статус
      .statusBoxCompleted.clearfix
        .statusBox#main-status
          .status Завтра вылетаю, есть билет на халяву, кто со мной? Время поджимает, давайте поторопитесь. Бла-бла
          .edit#edit-status
            .tooltip.clearfix
              .tooltip-arrow
              span Редактировать
          .comments.clearfix
            span#delete-comments удалить
            span#share-comments поделиться
        .statusBoxEdit.clearfix
          h1 добавить новый статус
          .greenDots
          input#new-status(placeholder='...', type='text',  maxlength="140")
          .writeBtn#write-new-main-status
    .tagBox
      h1 Сезоны
      .seasonsBox.clearfix
        .season
          span весна
        .season
          span лето
        .season.seasonChecked
          span осень
        .season
          span зима
    .tagBox
      h1 Мои направления
      .tagsLine#profile-tags
        .mainSelectElement.profileTagPlaces.withShadow
          span.tagCountry Россия
          .close
        .mainSelectElement.profileTagPlaces.withShadow
          span.tagCountry Европа
          .close
        .mainSelectElement.profileTagPlaces.withShadow
          span.tagCountry Африка
          .close
      .newTagBox
        .mainSelectElement.newCountry.withShadow
          input#profile-new-tag(placeholder='...', type='text',  maxlength="20")
          .dd
          .du
          ul.droped.withShadow
            li.dl Россия
            li.dl Африка
            li.dl Европа
    .profileInfoBox
      .edit#edit-profile
        .tooltip.clearfix
          .tooltip-arrow
          span Редактировать
      h1 о себе
      .greenDots
      p.description#about-in-info Если вы никогда не видели? нашей грозы, вы никогда не поймете нас! Cпособностей наших безумных душ к падению на самое дно бездны, где все законы мироздания теряют свой первоначальный смысл, Кто-то непостижимо великий сплетает полотно реальности!
      .infoBox.infoView
        #birtday-in-info.clearfix
          span.lp День рождения:
          span.rp #{user.birthday}
        #zodiac-in-info.clearfix
          span.lp Знак зодиака:
          span.rp лев
        #city-in-info.clearfix
          span.lp Город:
          span.rp Москва
        #skype-in-info.clearfix.hide
          span.lp Skype:
          span.rp skype
        #interests-in-info.clearfix.hide
          span.lp Интересы:
          span.rp Велотуризм, яхтинг, скалолазание, серфинг, виндсерфинг, дайвинг, воздухоплавание, конный спорт, теннис, путешествия, музыка, йога, общение
        #music-in-info.clearfix.hide
          span.lp Любимая музыка:
          span.rp Jazz, Rock '70 '80, Trance
        #films-in-info.clearfix.hide
          span.lp Любимые фильмы:
          span.rp Боги сошли с ума
        #quote-in-info.clearfix.hide
          span.lp Любимые цитаты:
          span.rp 
            p если существует несколько логически непротиворечивых объяснений какого-либо явления, объясняющих его одинаково хорошо, то следует, при прочих равных условиях, считать верным самое простое из них
            p ------
            p бритва Оккама
      .infoBox.infoEdit

        #name-edit.clearfix
          span.lp Имя:
          span.rp
            input(type='text', value='#{user.name}', name = 'name')

        
        #birtday-edit.clearfix
          span.lp День рождения:
          span.rp
            .mainSelectElement.dayEdit.withShadow#day-select
              span#day-edit-select 20
              .dd
              .du
              ul.droped.withShadow
                li.dl 1
                li.dl 2
                li.dl 3
                li.dl 4
                li.dl 5
                li.dl 6
                li.dl 7
                li.dl 8
                li.dl 9
                li.dl 10
                li.dl 11
                li.dl 12
                li.dl 13
                li.dl 14
                li.dl 15
                li.dl 16
                li.dl 17
                li.dl 18
                li.dl 19
                li.dl 20
                li.dl 21
                li.dl 22
                li.dl 23
                li.dl 24
                li.dl 25
                li.dl 26
                li.dl 27
                li.dl 28
                li.dl 29
                li.dl 30
                li.dl 31
            .mainSelectElement.monthEdit.withShadow#month-select
              span#month-edit-select Август
              .dd
              .du
              ul.droped.withShadow
                li.dl Январь
                li.dl Февраль
                li.dl Март
                li.dl Апрель
                li.dl Май
                li.dl Июнь
                li.dl Июль
                li.dl Август
                li.dl Сентябрь
                li.dl Октябрь
                li.dl Ноябрь
                li.dl Декабрь
              .statusDrop
            .mainSelectElement.yearEdit.withShadow#year-select
              span#year-edit-select 1983
              .dd
              .du
              ul.droped.withShadow
                li.dl 1980
                li.dl 1981
                li.dl 1982
                li.dl 1983
                li.dl 1984
                li.dl 1985
                li.dl 1986
                li.dl 1987
                li.dl 1988
                li.dl 1989
                li.dl 1990
                li.dl 1991
                li.dl 1992
                li.dl 1993
                li.dl 1994
                li.dl 1995
                li.dl 1996
        //- #zodiac-edit.clearfix
        //-   span.lp Знак зодиака:
        //-   span.rp
        //-     .mainSelectElement.zodiacEdit.withShadow#zodiac-select
        //-       span#zodiac-edit-select Лев
        //-       .dd
        //-       .du
        //-       ul.droped.withShadow
        //-         li.dl Дева
        //-         li.dl Весы
        //-         li.dl Скорпион
        //-         li.dl Стрелец

        #country-edit.clearfix
          span.lp Страна:
          span.rp
            .mainSelectElement.countryEdit.withShadow#country-select
              span#country-edit-select#{user.country}
              .dd
              .du
              ul.droped.withShadow
                li.dl Россия
                li.dl Украина
                li.dl США

        #city-edit.clearfix
          span.lp Город:
          span.rp
            .mainSelectElement.cityEdit.withShadow#city-select
              span#city-edit-select#{user.city}
              .dd
              .du
              ul.droped.withShadow
                li.dl Москва
                li.dl Киев
                li.dl Екатеринбург
                li.dl Пермь

        #about-edit.clearfix
          span.lp О себе:
          span.rp
            textarea Если вы никогда не видели? нашей грозы, вы никогда не поймете нас! Cпособностей наших безумных душ к падению на самое дно бездны, где все законы мироздания теряют свой первоначальный смысл, Кто-то непостижимо великий сплетает полотно реальности!
        #num-value-edit.clearfix
          span.lp Рост:
          span.rp
            input(type='text', value='#{user.growth}', name='growth')
        #num-value-edit.clearfix
          span.lp Вес:
          span.rp
            input(type='text', value='#{user.weight}', name='weight')
        //- #quote-edit.clearfix
        //-   span.lp Любимые цитаты:
        //-   span.rp
        //-     textarea если существует несколько логически непротиворечивых объяснений какого-либо явления, объясняющих его одинаково хорошо, то следует, при прочих равных условиях, считать верным самое простое из них ------ бритва Оккама
        div
          span.lp
          span.rp
            .profile-edit-slideup#profile-edit-slideup
              span сохранить
      .slideDown#profile-slidedown показать все
      .slideUp#profile-slideup скрыть