.profileContainer.clearfix.myProfileContainer
  include leftbox
  .rightBox
    .profileInfoBox.pIBTitle#my-profile
      .name-in-profile #{user.name}, #{user.age} лет
      div(class = user.is_sponsor === true ? "money-icon mg-icon" : "money-icon")
        .tooltip.clearfix
          .tooltip-arrow
          span Спонсортство
      div(class = user.is_host === true ? "house-icon hg-icon" : "house-icon")
        .tooltip.clearfix
          .tooltip-arrow
          span Жду&nbsp;в&nbsp;гости
      .city-in-profile #{user.city}
    .wantToTravelBox.clearfix
      //- .newStatus Новый статус
      .statusBoxCompleted.clearfix
        .statusBox#main-status
          .status Завтра вылетаю, есть билет на халяву, кто со мной? Время поджимает, давайте поторопитесь. Бла-бла
          .edit#edit-status
            .tooltip.clearfix
              .tooltip-arrow
              span Редактировать
          .comments.clearfix
            span.delete-comments удалить
            span.share-comments поделиться
        .statusBoxEdit.clearfix
          h1 добавить новый статус
          .greenDots
          input#new-status(placeholder='...', type='text',  maxlength="140")
          .writeBtn#write-new-main-status
    .tagBox
      h1 Сезоны
      if user.seasons
        .seasonsBox.clearfix#my-seasons
          div(id = "spring", class = user.seasons.indexOf("spring")>-1 ? "season seasonChecked" : "season")
            span весна
          div(id = "summer", class = user.seasons.indexOf("summer")>-1 ? "season seasonChecked" : "season")
            span лето
          div(id = "autumn", class = user.seasons.indexOf("autumn")>-1 ? "season seasonChecked" : "season")
            span осень
          div(id = "winter", class = user.seasons.indexOf("winter")>-1 ? "season seasonChecked" : "season")
            span зима
      else 
        .seasonsBox.clearfix#my-seasons
          div(id = "spring", class = "season")
            span весна
          div(id = "summer", class = "season")
            span лето
          div(id = "autumn", class = "season")
            span осень
          div(id = "winter", class = "season")
            span зима
    .tagBox
      h1 Мои направления
      .tagsLine#profile-tags
        .mainSelectElement.profileTagPlaces.withShadow
          span.tagCountry Россия
          .close
        .mainSelectElement.profileTagPlaces.withShadow
          span.tagCountry Европа
          .close
        .mainSelectElement.profileTagPlaces.withShadow
          span.tagCountry Африка
          .close
      .newTagBox
        .mainSelectElement.newCountry.withShadow
          input#profile-new-tag(placeholder='...', type='text',  maxlength="20")
          .dd
          .du
          ul.droped.withShadow
            li.dl Россия
            li.dl Африка
            li.dl Европа
    .profileInfoBox
      .edit#edit-profile
        .tooltip.clearfix
          .tooltip-arrow
          span Редактировать
      h1 о себе
      .greenDots
      p.description#about-in-info #{user.about}
      .infoBox.infoView
        #birtday-in-info.clearfix
          span.lp День рождения:
          span.rp #{user.birthdayDay} #{user.birthdayMonth} 
        //- #zodiac-in-info.clearfix
        //-   span.lp Знак зодиака:
        //-   span.rp лев
        br
        #country-in-info.clearfix
          span.lp Страна:
          span.rp #{user.country}
        br
        #city-in-info.clearfix
          span.lp Город:
          span.rp #{user.city}
        //- #skype-in-info.clearfix.hide
        //-   span.lp Skype:
        //-   span.rp skype
        //- #interests-in-info.clearfix.hide
        //-   span.lp Интересы:
        //-   span.rp Велотуризм, яхтинг, скалолазание, серфинг, виндсерфинг, дайвинг, воздухоплавание, конный спорт, теннис, путешествия, музыка, йога, общение
        //- #music-in-info.clearfix.hide
        //-   span.lp Любимая музыка:
        //-   span.rp Jazz, Rock '70 '80, Trance
        //- #films-in-info.clearfix.hide
        //-   span.lp Любимые фильмы:
        //-   span.rp Боги сошли с ума
        //- #quote-in-info.clearfix.hide
        //-   span.lp Любимые цитаты:
        //-   span.rp 
        //-     p если существует несколько логически непротиворечивых объяснений какого-либо явления, объясняющих его одинаково хорошо, то следует, при прочих равных условиях, считать верным самое простое из них
        //-     p ------
        //-     p бритва Оккама
      .infoBox.infoEdit

        #name-edit.clearfix
          span.lp Имя:
          span.rp
            input(type='text', value='#{user.name}', name = 'name')

        
        #birtday-edit.clearfix
          span.lp День рождения:
          span.rp
            .mainSelectElement.dayEdit.withShadow#day-select
              span#day-edit-select #{user.birthdayDay}
              .dd
              .du
              ul.droped.withShadow
                li.dl 1
                li.dl 2
                li.dl 3
                li.dl 4
                li.dl 5
                li.dl 6
                li.dl 7
                li.dl 8
                li.dl 9
                li.dl 10
                li.dl 11
                li.dl 12
                li.dl 13
                li.dl 14
                li.dl 15
                li.dl 16
                li.dl 17
                li.dl 18
                li.dl 19
                li.dl 20
                li.dl 21
                li.dl 22
                li.dl 23
                li.dl 24
                li.dl 25
                li.dl 26
                li.dl 27
                li.dl 28
                li.dl 29
                li.dl 30
                li.dl 31
            .mainSelectElement.monthEdit.withShadow#month-select
              span#month-edit-select #{user.birthdayMonth}
              .dd
              .du
              ul.droped.withShadow
                li(class="dl", month="01") Января
                li(class="dl", month="02") Февраля
                li(class="dl", month="03") Марта
                li(class="dl", month="04") Апреля
                li(class="dl", month="05") Мая
                li(class="dl", month="06") Июня
                li(class="dl", month="07") Июля
                li(class="dl", month="08") Августа
                li(class="dl", month="09") Сентября
                li(class="dl", month="10") Октября
                li(class="dl", month="11") Ноября
                li(class="dl", month="12") Декабря
              .statusDrop
            .mainSelectElement.yearEdit.withShadow#year-select
              span#year-edit-select #{user.birthdayYear}
              .dd
              .du
              ul.droped.withShadow
                - for (var i = 1960; i < 1994; ++i) {
                  li.dl #{i}
                - }
                
        //- #zodiac-edit.clearfix
        //-   span.lp Знак зодиака:
        //-   span.rp
        //-     .mainSelectElement.zodiacEdit.withShadow#zodiac-select
        //-       span#zodiac-edit-select Лев
        //-       .dd
        //-       .du
        //-       ul.droped.withShadow
        //-         li.dl Дева
        //-         li.dl Весы
        //-         li.dl Скорпион
        //-         li.dl Стрелец

        #country-edit.clearfix
          span.lp Страна:
          span.rp
            .mainSelectElement.countryEdit.withShadow#country-select
              span#country-edit-select #{user.country}
              .dd
              .du
              ul.droped.withShadow
                li.dl Россия
                li.dl Украина
                li.dl США

        #city-edit.clearfix
          span.lp Город:
          span.rp
            .mainSelectElement.cityEdit.withShadow#city-select
              span#city-edit-select #{user.city}
              .dd
              .du
              ul.droped.withShadow
                li.dl Москва
                li.dl Киев
                li.dl Екатеринбург
                li.dl Пермь

        #about-edit.clearfix
          span.lp О себе:
          span.rp
            textarea #{user.about}
        #num-value-edit.clearfix
          span.lp Рост:
          span.rp
            if (user.growth)
              input(type='text', value='#{user.growth}', name='growth')
            else
              input(type='text', value='', name='growth')
        #num-value-edit.clearfix
          span.lp Вес:
          span.rp
            if (user.weight)
              input(type='text', value='#{user.weight}', name='weight')
            else
              input(type='text', value='', name='weight')
        //- #quote-edit.clearfix
        //-   span.lp Любимые цитаты:
        //-   span.rp
        //-     textarea если существует несколько логически непротиворечивых объяснений какого-либо явления, объясняющих его одинаково хорошо, то следует, при прочих равных условиях, считать верным самое простое из них ------ бритва Оккама
        div
          span.lp
          span.rp
            .profile-edit-slideup#profile-edit-slideup
              span сохранить
      .slideDown#profile-slidedown показать все
      .slideUp#profile-slideup скрыть