.profileContainer.clearfix.myProfileContainer
  include myleftbox
  .rightBox
    .profileInfoBox.pIBTitle#my-profile
      .name-in-profile #{user.name}, #{user.age} лет
      //- div(class = user.is_sponsor === true ? "money-icon mg-icon" : "money-icon")
      //-   .tooltip.clearfix
      //-     .tooltip-arrow
      //-     span Спонсортство
      //- div(class = user.is_host === true ? "house-icon hg-icon" : "house-icon")
      //-   .tooltip.clearfix
      //-     .tooltip-arrow
      //-     span Жду&nbsp;в&nbsp;гости
      .city-in-profile #{user.city}
    .wantToTravelBox.clearfix
      //- .newStatus Новый статус
      .statusBoxCompleted.clearfix
        img(src='/static/img/searchpreloader.GIF', class="loading-gif")
        .statusBoxEdit.clearfix
          h1 добавить новый статус
          .greenDots
          input#new-status(placeholder='...', type='text',  maxlength="140", value=user.status ? user.status: 'Добавьте ваш первый статус путешественника')
          .writeBtn#write-new-main-status
    .tagBox
      h1 Сезоны 
        small  Укажите  сезоны, когда бы Вы хотели поехать отдыхать.
          i.fui-question  
      if user.seasons
        .seasonsBox.clearfix#my-seasons
          div(id = "spring", class = user.seasons.indexOf("spring")>-1 ? "season seasonChecked" : "season")
            span весна
          div(id = "summer", class = user.seasons.indexOf("summer")>-1 ? "season seasonChecked" : "season")
            span лето
          div(id = "autumn", class = user.seasons.indexOf("autumn")>-1 ? "season seasonChecked" : "season")
            span осень
          div(id = "winter", class = user.seasons.indexOf("winter")>-1 ? "season seasonChecked" : "season")
            span зима
      else 
        .seasonsBox.clearfix#my-seasons
          div(id = "spring", class = "season")
            span весна
          div(id = "summer", class = "season")
            span лето
          div(id = "autumn", class = "season")
            span осень
          div(id = "winter", class = "season")
            span зима
    .tagBox#my-destinations
      h1 Мои страны
        small  Укажите страны, в которые Вы хотели бы поехать 
          i.fui-question
      .tagsLine#profile-tags
        if user.destinations
          include user_destinations
      .newTagBox
        .mainSelectElement.newCountry.withShadow
          input#profile-new-tag(placeholder='...', type='text',  maxlength="20")
          .dd
          .du
          ul.droped.withShadow
            li.dl Россия
            li.dl Африка
            li.dl Европа
    .profileInfoBox
      .edit#edit-profile
        .tooltip.clearfix
          .tooltip-arrow
          span Редактировать
      h1 о себе
      .greenDots
      p.description#about-in-info #{user.about}
      .infoBox.infoView
        #birtday-in-info.clearfix
          span.lp День рождения:
          span.rp #{user.birthdayDay} #{user.birthdayMonth} 
        //- #zodiac-in-info.clearfix
        //-   span.lp Знак зодиака:
        //-   span.rp лев
        br
        #country-in-info.clearfix
          span.lp Страна:
          span.rp #{user.country}
        br
        #city-in-info.clearfix
          span.lp Город:
          span.rp #{user.city}
        if user.orientation
          br
          .in-info.clearfix
            span.lp Ориентация:
            span.rp=user.orientation
        if user.relations
          br
          .in-info.clearfix
            span.lp Отношения:
            span.rp=user.relations
        if user.children
          br
          .in-info.clearfix
            span.lp Дети:
            span.rp=user.children
        if user.education
          br
          .in-info.clearfix
            span.lp Образование:
            span.rp=user.education
        if user.attitude_to_smoking
          br
          .in-info.clearfix
            span.lp Отношение к курению:
            span.rp=user.attitude_to_smoking
        if user.attitude_to_alcohol
          br
          .in-info.clearfix
            span.lp Отношение к алкоголю:
            span.rp=user.attitude_to_alcohol
        if user.wealth
          br
          .in-info.clearfix
            span.lp Доход:
            span.rp=user.wealth
        if user.accommodation
          br
          .in-info.clearfix
            span.lp Я живу:
            span.rp=user.accommodation
        //- #skype-in-info.clearfix.hide
        //-   span.lp Skype:
        //-   span.rp skype
        //- #interests-in-info.clearfix.hide
        //-   span.lp Интересы:
        //-   span.rp Велотуризм, яхтинг, скалолазание, серфинг, виндсерфинг, дайвинг, воздухоплавание, конный спорт, теннис, путешествия, музыка, йога, общение
        //- #music-in-info.clearfix.hide
        //-   span.lp Любимая музыка:
        //-   span.rp Jazz, Rock '70 '80, Trance
        //- #films-in-info.clearfix.hide
        //-   span.lp Любимые фильмы:
        //-   span.rp Боги сошли с ума
        //- #quote-in-info.clearfix.hide
        //-   span.lp Любимые цитаты:
        //-   span.rp 
        //-     p если существует несколько логически непротиворечивых объяснений какого-либо явления, объясняющих его одинаково хорошо, то следует, при прочих равных условиях, считать верным самое простое из них
        //-     p ------
        //-     p бритва Оккама
      .infoBox.infoEdit

        #name-edit.clearfix
          span.lp Имя:
          span.rp
            input(type='text', value='#{user.name}', name = 'name')

        
        #birtday-edit.clearfix
          span.lp День рождения:
          span.rp
            .mainSelectElement.dayEdit.withShadow#day-select
              span#day-edit-select #{user.birthdayDay}
              .dd
              .du
              ul.droped.withShadow
                li.dl 1
                li.dl 2
                li.dl 3
                li.dl 4
                li.dl 5
                li.dl 6
                li.dl 7
                li.dl 8
                li.dl 9
                li.dl 10
                li.dl 11
                li.dl 12
                li.dl 13
                li.dl 14
                li.dl 15
                li.dl 16
                li.dl 17
                li.dl 18
                li.dl 19
                li.dl 20
                li.dl 21
                li.dl 22
                li.dl 23
                li.dl 24
                li.dl 25
                li.dl 26
                li.dl 27
                li.dl 28
                li.dl 29
                li.dl 30
                li.dl 31
            .mainSelectElement.monthEdit.withShadow#month-select
              span#month-edit-select #{user.birthdayMonth}
              .dd
              .du
              ul.droped.withShadow
                li(class="dl", month="01") Января
                li(class="dl", month="02") Февраля
                li(class="dl", month="03") Марта
                li(class="dl", month="04") Апреля
                li(class="dl", month="05") Мая
                li(class="dl", month="06") Июня
                li(class="dl", month="07") Июля
                li(class="dl", month="08") Августа
                li(class="dl", month="09") Сентября
                li(class="dl", month="10") Октября
                li(class="dl", month="11") Ноября
                li(class="dl", month="12") Декабря
              .statusDrop
            .mainSelectElement.yearEdit.withShadow#year-select
              span#year-edit-select #{user.birthdayYear}
              .dd
              .du
              ul.droped.withShadow
                - for (var i = 1960; i < 1994; ++i) {
                  li.dl #{i}
                - }

        #country-edit.clearfix
          span.lp Страна:
          span.rp
            .mainSelectElement.countryEdit.withShadow#country-select
              input.search-select(placeholder='Страна', type='text',  maxlength="20", value="#{user.country}")
              .dd
              .du
              ul.droped.withShadow
        #city-edit.clearfix
          span.lp Город:
          span.rp
            .mainSelectElement.cityEdit.withShadow#city-select
              input.search-select(placeholder='Город', type='text',  maxlength="20", value="#{user.city}")
              .dd
              .du
              ul.droped.withShadow
        #about-edit.clearfix
          span.lp О себе:
          span.rp
            textarea #{user.about}
        #num-value-edit.clearfix
          span.lp Рост:
          span.rp
            if (user.growth)
              input(type='text', value='#{user.growth}', name='growth')
            else
              input(type='text', value='', name='growth')
        #num-value-edit.clearfix
          span.lp Вес:
          span.rp
            if (user.weight)
              input(type='text', value='#{user.weight}', name='weight')
            else
              input(type='text', value='', name='weight')

        #orientation-edit.clearfix
          span.lp Ориентация:
          span.rp
            .mainSelectElement.withShadow.select-input#orientation-select
              span#orientation-edit-select=user.orientation
              .dd
              .du
              ul.droped.withShadow
                li.dl
                li.dl Гетеро
                li.dl Без предубеждений
                li.dl Би
                li.dl Гей/лесби

        #relation-edit.clearfix
          span.lp Отношения:
          span.rp
            .mainSelectElement.withShadow.select-input#relation-select
              span#relation-edit-select=user.relations
              .dd
              .du
              ul.droped.withShadow
                //- li.dl
                li.dl Свободен
                li.dl Занят
                li.dl В свободных отношениях

        #children-edit.clearfix
          span.lp Дети:
          span.rp
            .mainSelectElement.withShadow.select-input#children-select
              span#children-edit-select=user.children
              .dd
              .du
              ul.droped.withShadow
                //- li.dl
                li.dl Есть
                li.dl Нет

        #education-edit.clearfix
          span.lp Образование:
          span.rp
            .mainSelectElement.withShadow.select-input#education-select
              span#education-edit-select=user.education
              .dd
              .du
              ul.droped.withShadow
                //- li.dl
                li.dl Высшее
                li.dl Среднее
                li.dl Ученая степень

        #attitude_to_smoking-edit.clearfix
          span.lp Курение:
          span.rp
            .mainSelectElement.zodiacEdit.withShadow.select-input#attitude_to_smoking-select
              span#attitude_to_smoking-edit-select=user.attitude_to_smoking
              .dd
              .du
              ul.droped.withShadow
                //- li.dl
                li.dl Нет
                li.dl Да
                li.dl В компании

        #attitude_to_alcohol-edit-edit.clearfix
          span.lp Алкоголь:
          span.rp
            .mainSelectElement.zodiacEdit.withShadow.select-input#attitude_to_alcohol-select
              span#attitude_to_alcohol-edit-select=user.attitude_to_alcohol
              .dd
              .du
              ul.droped.withShadow
                //- li.dl
                li.dl Нет
                li.dl Да
                li.dl В компании

        #wealth-edit.clearfix
          span.lp Доход:
          span.rp
            .mainSelectElement.zodiacEdit.withShadow.select-input#wealth-select
              span#wealth-edit-select=user.wealth
              .dd
              .du
              ul.droped.withShadow
                //- li.dl
                li.dl Высокий
                li.dl Средний
                li.dl Низкий

        #accommodation-edit.clearfix
          span.lp Я живу:
          span.rp
            .mainSelectElement.zodiacEdit.withShadow.select-input#accommodation-select
              span#accommodation-edit-select=user.accommodation
              .dd
              .du
              ul.droped.withShadow
                //- li.dl
                li.dl Один
                li.dl С родителями
                li.dl С друзьями
                li.dl Общежитие
                li.dl С партнером
        div
          span.lp
          span.rp
            .profile-edit-slideup#profile-edit-slideup
              span сохранить
      .slideDown#profile-slidedown(style="visibility:hidden") показать все
      .slideUp#profile-slideup(style="visibility:hidden") скрыть