each status in statuses.models
  .statusBlock.justLoadedStatus(data-status='#{status.get('id')}')
    a(href="/user/#{status.get('user_object').id}", data-user-id=status.get('user_object').id)
      img(src=status.get('user_object').avatar_url)
    .profileInfoBox.leftPart     
      .name-in-profile #{status.get('user_object').name}, #{status.get('user_object').age}
      .city-in-profile=status.get('user_object').city
      br
      if(status.get('user_object').is_sponsor)
        .money-icon.mg-icon
          .tooltip.clearfix
            .tooltip-arrow
            span Спонсортство
      if(status.get('user_object').is_host)
        .house-icon.hg-icon
          .tooltip.clearfix
            .tooltip-arrow
            span Жду&nbsp;в&nbsp;гости
    .rightPart
      .status=status.get('text')
      a(class='writeBtn fui-bubble wmwt', href="/message/#{status.get('user_object').id}")
        .tooltip.clearfix
          .tooltip-arrow
          span Написать
      .controlLinks.clearfix
        .like(data-like="true")
        //- .note пожаловаться
        //- .share поделиться
        .likes.fui-heart
