.topContainer.clearfix
  .userBox
    img(src='#{user.get("avatar_url")}', width=100)
    #rating #{user.get("rating")}%
    #name=user.get('name')
    #nick-name LuckyStar
  #profile-arrow-left
  .carouselBox
    .carousel
      each item in items
        .crsItem.mainCrs
          .wrapper(data-anim="base wrapper")
            .circle.c_left(data-anim="base left")
            .circle.c_right(data-anim="base right")
          img(src='#{item.get('image_url')}')
          if item.get('type')=='audio'
            .audio
              audio
                source(src='#{item.get('url')}', type="audio/ogg")
    //
      - for (var i = 1; i <= 14; i++)
        .crsItem.mainCrs
          case i%6
            when 0
              img(src='/static/img/crs_item.png')
              .empty
            when 1
              .wrapper(data-anim="base wrapper")
                .circle.c_left(data-anim="base left")
                .circle.c_right(data-anim="base right")
              img(src='/static/img/crs_item2.png')
              #online
            when 2
              .wrapper(data-anim="base wrapper")
                .circle.c_left(data-anim="base left")
                .circle.c_right(data-anim="base right")
              img(src='/static/img/crs_item3.png')
              .audio
                audio
                  source(src='/static/audio/audio.mp3', type="audio/mp3")
                  source(src='/static/audio/audio.ogg', type="audio/ogg")
            when 3
              .wrapper(data-anim="base wrapper")
                .circle.c_left(data-anim="base left")
                .circle.c_right(data-anim="base right")
              img(src='/static/img/crs_item4.png')
              #online
              .audio
                audio
                  source(src='/static/audio/audio.mp3', type="audio/mp3")
                  source(src='/static/audio/audio.ogg', type="audio/ogg")
            when 4
              .wrapper(data-anim="base wrapper")
                .circle.c_left(data-anim="base left")
                .circle.c_right(data-anim="base right")
              img(src='/static/img/crs_item.png')
              .videoBox
                .frontLayer
                video
                  source(src="/static/video/gizmo.mp4", type="video/mp4", codecs="avc1.42E01E, mp4a.40.2")
                  source(src="/static/video/gizmo.webm", type="video/webm", codecs="vp8, vorbis")
                  source(src="/static/video/gizmo.ogv", type="video/ogg", codecs="theora, vorbis")
              .video
            when 5
              .wrapper(data-anim="base wrapper")
                .circle.c_left(data-anim="base left")
                .circle.c_right(data-anim="base right")
              img(src='/static/img/crs_item2.png')
              #online
              .videoBox
                .frontLayer
                video
                  source(src="/static/video/gizmo.mp4", type="video/mp4", codecs="avc1.42E01E, mp4a.40.2")
                  source(src="/static/video/gizmo.webm", type="video/webm", codecs="vp8, vorbis")
                  source(src="/static/video/gizmo.ogv", type="video/ogg", codecs="theora, vorbis")
              .video
  #profile-arrow-right