if is_mystatus
  .newStatus Новый статус 
  a(id="status-limit-alert",class="popup-info",data-infopopup-title="Внимание", data-infopopup-text="Вы превысили лимит статусов в день!",style="display:none;")
.statusBoxCompleted.clearfix
  .statusBox#main-status
    .status= status.get('text')
    if is_mystatus
      .edit#edit-status
        .tooltip.clearfix
          .tooltip-arrow
          span Редактировать
    .comments.clearfix
      .greenDots
      if is_mystatus
        //- span.delete-comments удалить
        span.share-comments поделиться
        span.share-comments.fui-vimeo(onclick="Share.vkontakte('http://poputchiki.ru','Мой статус на попутиках','http://poputchiki.onesockteam.com/static/img/logo.png','"+status.get('text')+"')")
        span.share-comments.fui-facebook(onclick="Share.facebook('http://poputchiki.ru','Мой статус на попутиках','http://poputchiki.onesockteam.com/static/img/logo.png','"+status.get('text')+"')")
        span.share-comments.fui-twitter(onclick="Share.twitter('http://poputchiki.ru','Мой статус на попутиках','http://poputchiki.onesockteam.com/static/img/logo.png','"+status.get('text')+"')")
        
        if status.get('likes') && status.get('likes')>0
          span.delete-comments 
              span.likes(data-likers-url=status.likers_url())
                  | #{status.get('likes')}
                  | ...
        else
          span.delete-comments 
              span.likes(data-likers-url=status.likers_url())
        span.delete-comments.like(data-like = is_liked?'false':'true')=is_liked?'вам это нравится':'нравиться'
      else
        span.delete-comments.likes #{status.get('likes')}
        if is_liked
          span.delete-comments.like(data-like= 'false' )  не нравиться
        else
          span.delete-comments.like(data-like= 'true' )  нравиться
  .statusBoxEdit.clearfix
    h1 добавить новый статус
    .greenDots
    input#new-status(placeholder='...', type='text', value=status.get('text'))
    .writeBtn#write-new-main-status