if video.url
  .fui-play
  div.photo-time #{video.timeDay} #{video.timeMonth} #{video.timeYear}
else
  div.photo-time загрузка...
if video.url
  .vblck
      if cvideo=='mp4'
        source(src=video.url, type="video/mp4", codecs="avc1.42E01E, mp4a.40.2")
      else
        source(src=video.url, type="video/webm", codecs="vp8, vorbis")
else
  img(src="/static/img/searchpreloader.GIF", class='loading')
//- if video.url
if (is_my_user)
  .actions
    if(liked_by)
      a(class="action-remove-like custom-link") нравится
    else
      a(class="action-like custom-link") нравится
    span.like-counter-box
      i.fui-heart &nbsp;
      if video.likes >0
          span.like-counter.likes.my-likes(data-likers-url=video.likers_url) #{video.likes}
      else 
        span.like-counter.likes.my-likes(data-likers-url=video.likers_url)
    a(class="custom-blue-link open-promo") в ленту
    a(class="custom-link remove-photo") удалить
else
  if(liked_by)
    a(class="action-remove-like custom-link") вам нравится
  else
    a(class="action-like custom-link") нравится
  span.like-counter  #{video.likes}
